/* Общие стили для четвертой страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0077b5;
    color: #fff;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0077b5;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar {
    flex: 1;
    max-width: 250px;
}


/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0077b5;
    color: white;
}

/* Стили для комментариев */
ul {
    margin-top: 20px;
    list-style: disc;
    text-align: left;
}

li {
    margin-left: 20px;
}

/* Стили для изображений */
img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
    }
}